
.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 500px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  transform: translate(-50%, -50%);
  z-index: 1001;
  box-shadow: 0 8px 3px rgba(0, 0, 0, 0.15);
}

.product-card {
  width: 18rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 7px 7px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);

}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #474747;
}

