<div class="products-grid">
  <div class="card product-card" >
    
    <!-- Badge de status -->
   <!-- Badge de status -->
<span 
  class="product-status"
  [ngClass]="{
    'in-stock': product.stock > 10,
    'low-stock': product.stock > 0 && product.stock <= 10,
    'precommande': product.stock === 0
  }">
  {{ product.stock > 10 ? 'En stock' : (product.stock > 0 ? 'Stock limité' : 'Sur Commande') }}
</span>




    <img [src]="product.image" class="card-img-top" alt="Product Image">
    <div class="card-body text-center">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">
        {{ product.description | slice:0:30 }}...
        <a href="#" (click)="openModal($event)">Voir Details</a>
      </p>
      <div *ngIf="!adminMode" class="d-flex justify-content-center align-items-center gap-3 mt-3">
        <p class="price mb-0">{{ product.price }} <small>TND</small></p>
        <button class="btn btn-primary btn-cart px-3" (click)="addToCart(product.id)">
          <i class="fa fa-shopping-cart"></i> Ajouter
        </button>
      </div>
      <div *ngIf="adminMode" class="mt-3">
        <p class="price mb-2">{{ product.price }} <small>TND</small></p>
        <div class="d-flex justify-content-center gap-2">
          <button class="btn btn-warning px-3" (click)="onEdit()">Modifier</button>
          <button class="btn btn-danger px-3" (click)="onDelete()">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal produit -->
<!-- Modal produit -->
<div class="modal-backdrop" *ngIf="showModal" (click)="closeModal()"></div>
<div class="custom-modal" *ngIf="showModal">
  <div class="modal-content">
    <h5>{{ product.name }}</h5>
    <p>{{ product.description }}</p>
    <div class="text-end">
      <button class="btn btn-primary" (click)="closeModal()">Fermer</button>
    </div>
  </div>
</div>

