<div class="modal-container">
      <div class="modal-card">
        <h2>📦 Ajouter un produit</h2>
        <form (submit)="ajouter(); $event.preventDefault()">
          
          <div class="form-group">
            <label>Titre:</label>
            <input type="text" [formControl]="title" placeholder="Titre du produit" />
          </div>
          <!-- Champ image -->
          <div class="form-group">
            <label>Image (URL ou téléverser)</label>
            <input type="text" [formControl]="imageUrl" placeholder="URL de l'image" (input)="previewImage($event)" />
             <label class="file-upload">
    <input type="file" (change)="uploadImage($event)" hidden />
    <span>📤 Choisir un fichier</span>
  </label>
            <img *ngIf="imagePreview" [src]="imagePreview" class="image-preview" />
          </div>
          <div class="form-group">
            <label>Description:</label>
            <textarea [formControl]="description" placeholder="Description"></textarea>
          </div>

          <div class="form-group">
            <label>Prix (€):</label>
            <input type="number" [formControl]="price" placeholder="0" />
          </div>

          <div class="form-group">
            <label>Catégorie:</label>
            <select [formControl]="category">
              <option value="" disabled selected>Choisir une catégorie</option>
              <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
            </select>
          </div>

          <div class="buttons">
            <button type="submit" class="btn-add">Ajouter</button>
            <button type="button" class="btn-cancel" (click)="fermer()">Annuler</button>
          </div>

        </form>
      </div>
    </div>