<div class="modal-container">
  <div class="modal-card">
    <h2>📦 Ajouter un produit</h2>
    <form [formGroup]="form" (ngSubmit)="ajouter()">

      <!-- Titre -->
      <div class="form-group">
        <label>Titre:</label>
        <input type="text" formControlName="title" placeholder="Titre du produit" />
        <div class="error" *ngIf="form.get('title')?.touched && form.get('title')?.invalid">
          Le titre est requis.
        </div>
      </div>

      <!-- Image -->
      <div class="form-group">
        <label>Image (URL ou téléverser)</label>
        <input type="text" formControlName="imageUrl" placeholder="URL de l'image" (input)="previewImage()" />
        <label class="file-upload">
          <input type="file" (change)="uploadImage($event)" hidden />
          <span>📤 Choisir un fichier</span>
        </label>
        <img *ngIf="imagePreview" [src]="imagePreview" class="image-preview" />
        <div class="error" *ngIf="form.get('imageUrl')?.touched && form.get('imageUrl')?.invalid">
          L'image est requise.
        </div>
      </div>

      <!-- Description -->
      <div class="form-group">
        <label>Description:</label>
        <textarea formControlName="description" placeholder="Description"></textarea>
        <div class="error" *ngIf="form.get('description')?.touched && form.get('description')?.invalid">
          La description est requise.
        </div>
      </div>

      <!-- Prix -->
      <div class="form-group">
        <label>Prix (€):</label>
        <input type="number" formControlName="price" placeholder="0" />
        <div class="error" *ngIf="form.get('price')?.touched && form.get('price')?.invalid">
          Le prix est requis 
        </div>
      </div>
      <!-- Quantité / Stock -->
<div class="form-group">
  <label>Stock:</label>
  <input type="number" formControlName="stock" placeholder="0" min="0" />
</div>

      <!-- Catégorie -->
      <div class="form-group">
        <label>Catégorie:</label>
        <select formControlName="category">
          <option value="" disabled>Choisir une catégorie</option>
          <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
        </select>
        <div class="error" *ngIf="form.get('category')?.touched && form.get('category')?.invalid">
          La catégorie est requise.
        </div>
      </div>

      <!-- Boutons -->
      <div class="buttons">
        <button type="submit" class="btn-add" [disabled]="form.invalid">
          Ajouter
        </button>
        <button type="button" class="btn-cancel" (click)="fermer()">Annuler</button>
      </div>

    </form>
  </div>
</div>
