<div class="products-page">
  <header class="products-header">
    <h2>📦 Gestion des Produits</h2>
    <button class="btn-add" (click)="toggleModal()">+ Ajouter un produit</button>
  </header>

  <!-- Onglets catégories -->
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab *ngFor="let cat of categories" [label]="cat.name">
      <div class="products-grid">
        <!-- Utilisation du ProductCardComponent -->
        <app-product-card
          *ngFor="let prod of productsByCategory[cat.name]"
          [product]="prod"
          [adminMode]="true"  
          (edit)="modifierProduit($event)"   
          (delete)="supprimerProduit($event)"  
        ></app-product-card>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- Modal ajout produit -->
  <app-addprod *ngIf="modalOuvert"
    (produitAjoute)="ajouterProduit($event)"
    (close)="toggleModal()">
  </app-addprod>
  <!-- Modal édition produit -->
<app-editprod *ngIf="modalEditOuvert"
  [produit]="produitSelectionne"
  (produitModifie)="onProduitModifie($event)"
  (close)="fermerModalEdit()">
</app-editprod>
</div>
