<div class="products-page">
    <!-- Header Produits -->
    <header class="products-header">
      <h2>📦 Gestion des Produits</h2>
      <button class="btn-add" (click)="ouvrirModal()">+ Ajouter un produit</button>
    </header>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="telephone">
    
  </mat-tab>
  <mat-tab label="Ordinateurs">
    
  </mat-tab>
  <mat-tab label="games">
    Content 3
  </mat-tab>
  <mat-tab label="aaa">
    Content 3
  </mat-tab>
  <mat-tab label="bbb">
    


  </mat-tab>
</mat-tab-group>
   <!-- Modal affiché dynamiquement -->
    <app-addprod *ngIf="modalOuvert"
      (produitAjoute)="ajouterProduit($event)"
              (close)="toggleModal()">
    </app-addprod>
    
  </div>